@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins|Source+Sans+Pro|Montserrat:400,900&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
  
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-top: 2px solid #ccc;
  font-family: "Anton", sans-serif;

}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
  padding: 5px 0px 0px 0;
  /* border-radius: 5px; */
  min-height: 80px;
}
.menu-item-price{
  color: #2F7228;
  padding-right: 3px;
  font-size: large;
}
.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

.menu-item-desc {
  line-height: 1.5;
  color: #2F7228;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    /* width: 125px;
    height: 125px; */
  }
}


.category_list_container{
  margin-top: 50px;
  display: flex;
  width: 100%;
  overflow: auto;
  background-color: rgb(246, 246, 246);
  position: sticky;
  top: 0;
}
.category_list_container:focus{
  background-color: #2F7228;
}

.category_list_container::-webkit-scrollbar{
  width: 100px; 
  height: 10px;
  background-color: #ccc;
}
.category_list_container::-webkit-scrollbar-track{
  background-color: white;
}
.category_list_container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.category_list_container>ul{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.category_list_container>ul>a>li{
  margin: 10px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 6px;
  padding:5px;
  list-style: none;
  text-wrap: nowrap;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
  transition: 1s;
}

.category_list_container>ul>a>li:hover{
   background-color:#2F7228;
   color: white;
   transition: 1s;
}

.category_list_container>ul>a>li:focus {
  background-color: #2F7228;
  color: white;
  transition: 1s;
}

@media (max-width:500px){
  .menu-item-name {
    font-size: 20px;
    font-weight: 900;
  }
  
  .menu-item-desc {
    line-height: 1.3;
    font-size: 10px;
    padding-top: 6px;
    color: #2F7228;
  }
  .menu-item-price{
font-size: medium;
  }
}
.Menu_en_salle_h1{
  color: #2F7228;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
.welcomeImgContainer > img {
  border-radius: 10px;
}


@media(min-width:769px){
  .welcomeImgContainer {
    height: 80vh;
    overflow: hidden;
    position: relative;
  }
  
  .welcomeImgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: start;
  }
}

.fixed-tel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 9999;
  text-align: center;
}

.wp{
  bottom: 80px;
}
.fixed-tel:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #2F7228;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  z-index: 1;
  top: 0;
  left: 0;
}

.fixed-tel i {
  vertical-align: middle;
  z-index: 2;
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
}

@keyframes appear{
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.animate{
  animation :appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}