{% extends "base.html" %}
{% load static %}

{%block css%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock css%}
{% block mainContent %}
    <div class="container">
        <div class="row mb-5 mt-4">
            <div class="col-lg-6 col-md-12 w-100 my-3 d-flex justify-content-center align-item-center">
                  <div class="image-container">
                    <img src="{%static 'images/homeImg1.jpg'%}" class="w-100 h-100" alt=" "/>
                    <div class="content-overlay">
                    <div class="container-fluid">
                      <h2><span style="font-weight:400;">TABLES</span> GASTRONOMIQUES</h2>
                      <p>Le chef Alan Geaam et L’Auberge du Désert, deux tables gastronomiques d’exception.</p>
                    </div>
                      <a href="#" class="button">EN SAVOIR PLUS <i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i></a>
                    </div>
                    <div class="fade-overlay"></div>
                  </div>
            </div>
            <div class="col-lg-6 col-md-12 w-100 my-3 d-flex justify-content-center align-item-center">
                <div class="image-container">
                    <img src="{%static 'images/homeImg2.jpg'%}" class="w-100 h-100" alt="lebanon foods">
                    <div class="content-overlay">
                    <div class="container-fluid">
                      <h2><span style="font-weight:400;">Cuisine</span> Libanaise</h2>
                      <p>La famille Qasti et Faurn, six adresses pour (re)découvrir la cuisine libanaise.</p>
                    </div>
                      <a href="#" class="button">EN SAVOIR PLUS <i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i></a>
                    </div>
                    <div class="fade-overlay"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    {% comment %} <div class="container mt-5 client_container">
        <div class="elfsight-app-de40a6c7-d0b4-4aea-85a8-db3f4accceab" data-elfsight-app-lazy></div>
    </div> {% endcomment %}
    <div class="container">
      
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 my-2 d-flex justify-content-center align-item-center">
          <div id="TA_cdsratingsonlynarrow160" class="TA_cdsratingsonlynarrow d-flex justify-content-center align-item-center"><ul id="mMBKsFv3Dh" class="TA_links bleGIsH"><li id="VFSllgxJWIxB" class="3YymBYDL0Q"><a target="_blank" href="https://www.tripadvisor.fr/Restaurant_Review-g672981-d27143834-Reviews-La_Pizzeria-Solesmes_Sarthe_Pays_de_la_Loire.html"><img src="https://www.tripadvisor.fr/img/cdsi/img2/branding/v2/Tripadvisor_lockup_horizontal_secondary_registered-18034-2.svg" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=160&amp;locationId=27143834&amp;lang=fr&amp;border=true&amp;shadow=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
        </div>

        <div class="col-12 col-md-6 col-lg-4 my-2 d-flex justify-content-center align-item-center">
          <div id="TA_linkingWidgetRedesign517" class="TA_linkingWidgetRedesign d-flex justify-content-center align-item-center"><ul id="73bGuvFge4y" class="TA_links ivSWaLz"><li id="fLyVdyEsvlmV" class="QhlVcMY"><a target="_blank" href="https://www.tripadvisor.fr/Restaurant_Review-g672981-d27143834-Reviews-La_Pizzeria-Solesmes_Sarthe_Pays_de_la_Loire.html"><img src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=linkingWidgetRedesign&amp;uniq=517&amp;locationId=27143834&amp;lang=fr&amp;border=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
        </div>

        <div class="col-12 col-md-6 col-lg-4 my-2 d-flex justify-content-center align-item-center">
          <div id="TA_cdswritereviewlg264" class="TA_cdswritereviewlg d-flex justify-content-center align-item-center"><ul id="Mzougnp" class="TA_links l9UcKha"><li id="0OKiprDJ" class="9TEB8jji66"><a target="_blank" href="https://www.tripadvisor.fr/Restaurant_Review-g672981-d27143834-Reviews-La_Pizzeria-Solesmes_Sarthe_Pays_de_la_Loire.html"><img src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=264&amp;locationId=27143834&amp;lang=fr&amp;lang=fr&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
        </div>
      </div>
      
      <iframe src="https://www.tripadvisor.fr/Restaurant_Review-g672981-d27143834-Reviews-La_Pizzeria-Solesmes_Sarthe_Pays_de_la_Loire.html" width="100%" height="500px" frameborder="0"></iframe>

    </div>
    

    <h1>gallery</h1>
    <div class="containe_gallr mb-5 container" id="gallery_id">
    
        {% for gall in gallery %}
        <div class="gallery-container w-3 h-2">
            <div class="gallery-item">
              <div class="image">
                <img src="{{gall.images.url}}" alt="nature">
              </div>
              <div class="text">{{gall.text}}</div>
            </div>
          </div>
        {% endfor %}
    </div>

   
<hr>
<div class="container my-5 restauran_history w-100 h-100 d-flex justify-content-center align-item-center" >
    <div class="row  w-100 h-100" id="HistoryOfRestaurant">
        <h1  class="restaurant-history-text_title d-lg-none text-center">
            Histoire du Restaurant
        </h1>
        <div class="col-12 col-lg-6  w-100 h-100">
            <img class="w-100" src="{%static 'images/restaurant history.png'%}" alt="">
        </div>
        <div class="col-12 col-lg-6">
            <h1  class="restaurant-history-text_title d-lg-block d-none text-center ">
                Histoire du Restaurant
            </h1>
            <h1 class="restaurant-history-text mt-2">Fort de plus de 30 ans d'expérience, le chef Elie vous invite à découvrir son dernier restaurant à Solesmes, où se rejoignent ses deux grandes passions :<span style="color: #2F7228; "> la cuisine libanaise et la cuisine italienne.</span> Un mariage unique de saveurs méditerranéennes, élaboré avec soin pour vous faire voyager à travers des mets authentiques et raffinés. Plongez dans une expérience culinaire qui réunit traditions et créativité, pour une aventure gustative inoubliable.</h1>
            <div class=" container checkmenycontainer w-100 d-flex justify-content-end align-item-center">
                <div class="h-100 align-item-center" style="width: 150px;">
                    <p class="m-0 menuArrowText" style="color: #2F7228; font-size: 32px;"><a href="#menu-type" style="text-decoration: none; color: inherit;">Menus</a></p>
                    <br>
                    <img class="w-100" style="height: 50px;" src="{%static 'images/right-arrow.png'%}" alt="">
                </div>
            </div>
        </div>
        <br>
    </div>
</div>


<div class="container my-5" id="Contactez_nous">
  <div class="row">
    <!-- Contact Form Section -->
    <div class="col-md-6 p-4 bg-light contact-form-box">
      <h2 class="mb-4" style="color:#2F7228;">Contactez-nous</h2>
      <form id="contactForm">
        <div class="mb-3">
          <label for="fullName" class="form-label">Nom et prénom</label>
          <input type="text" id="fullName" class="form-control contact-input" placeholder="Name" required>
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">Sujet</label>
          <input type="text" id="subject" class="form-control contact-input" placeholder="Subject" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea id="message" rows="4" class="form-control contact-input" placeholder="Message" required></textarea>
        </div>
        <button type="button" class="btn w-100 contact-button" onclick="sendMessage()">Envoyer un message via WhatsApp</button>
      </form>
    </div>
    <!-- Map Section -->
    <div class="col-md-6 p-0">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2677.3319554793447!2d-0.30308622460648244!3d47.8525339709638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48083900008c5c69%3A0x262597db06552099!2sLa%20Pizzeria!5e0!3m2!1sen!2slb!4v1708612676127!5m2!1sen!2slb"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        class="contact-map">
      </iframe>
    </div>
  </div>

  <!-- Contact Info Section -->
  <div class="row text-center mt-5">
    <div class="col-md-3 contact-info">
      <p><strong><i class="fa-solid fa-address-book"></i></strong> 198 West 21th Street, Suite 721 New York NY 10016</p>
    </div>
    <div class="col-md-3 contact-info">
      <i class="bi bi-telephone fs-3 mb-2"></i>
      <p><strong><i class="fa-solid fa-phone"></i></strong> +1235 2355 98</p>
    </div>
    <div class="col-md-3 contact-info">
      <i class="bi bi-envelope fs-3 mb-2"></i>
      <p><strong><i class="fa-solid fa-envelope"></i></strong> info@yoursite.com</p>
    </div>
    <div class="col-md-3 contact-info">
      <i class="bi bi-globe fs-3 mb-2"></i>
      <p><strong>Website:</strong> yoursite.com</p>
    </div>
  </div>
</div>
    

<section class="food-menu-type container" id="menu-type">
    <div class="row">
        <div class="col-lg-6 col-md-12 my-5 d-flex justify-content-center align-item-center">
            <div class="image-container">
                <img src="{%static 'images/Menu à Emporter.webp'%}" class="w-100 h-100" alt="lebanon foods">
                <div class="content-overlay">
                <div class="container-fluid">
                  <h2><span style="font-weight:400;">Menu</span> A Emporter</h2>
                  <p>Commandez et dégustez nos plats où vous voulez.</p>
                </div>
                  <a href="{% url "menuAEmporter" %}" class="button">Aller Au Menu<i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i></a>
                </div>
                <div class="fade-overlay"></div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 my-5 d-flex justify-content-center align-item-center">
            <div class="image-container">
                <img src="{%static 'images/menu en salle.webp'%}" class="w-100 h-100" alt="lebanon foods">
                <div class="content-overlay">
                <div class="container-fluid">
                  <h2><span style="font-weight:400;">Menu</span> En Salle</h2>
                  <p>Savourez nos plats dans une ambiance chaleureuse et conviviale.</p>
                </div>
                  <a href="{% url "menu" %}" class="button">Aller Au Menu<i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i></a>
                </div>
                <div class="fade-overlay fade-overlay-menu"></div>
            </div>
        </div>

    </div>
</section>


<!-- <model-viewer
    src="{%static 'images/Aztec skull.glb'%}"
    alt="A 3D model of an item"
    ar
    camera-controls
    auto-rotate
    style="width: 100px; height: 100px">
</model-viewer> -->



    
{% endblock mainContent %}


{%block js %} 
<script src="{% static "js/index.js" %}"></script>
{%endblock js%}